<mat-grid-list cols="5" rows="5" rowHeight="120px" [gutterSize]="'20px'" class="gap-5">
  <mat-grid-tile  class="bg-white mat-elevation-z3 rounded-lg" [colspan]="2" [rowspan]="2">
    Bars
  </mat-grid-tile>
  <mat-grid-tile
    class="bg-white mat-elevation-z3 rounded-lg"
    [colspan]="3"
    [rowspan]="2"
  >
    Proyects
  </mat-grid-tile>
  <mat-grid-tile
    class="bg-white mat-elevation-z3 rounded-lg"
    [colspan]="1"
    [rowspan]="1"
  >
    Card 1 title
  </mat-grid-tile>
  <mat-grid-tile
    class="bg-white mat-elevation-z3 rounded-lg"
    [colspan]="4"
    [rowspan]="1"
  >
    Card 1
  </mat-grid-tile>
  <mat-grid-tile
    class="bg-white mat-elevation-z3 rounded-lg"
    [colspan]="1"
    [rowspan]="1"
  >
    Card 2 title
  </mat-grid-tile>
  <mat-grid-tile
    class="bg-white mat-elevation-z3 rounded-lg"
    [colspan]="4"
    [rowspan]="1"
  >
    Card 2
  </mat-grid-tile>
  <mat-grid-tile
    class="bg-white mat-elevation-z3 rounded-lg"
    [colspan]="1"
    [rowspan]="1"
  >
    Card 3 title
  </mat-grid-tile>
  <mat-grid-tile
    class="bg-white mat-elevation-z3 rounded-lg"
    [colspan]="4"
    [rowspan]="1"
  >
    Card 3
  </mat-grid-tile>
  <mat-grid-tile
  class="bg-white mat-elevation-z3 rounded-lg"
  [colspan]="1"
  [rowspan]="1"
>
  Card 4 title
</mat-grid-tile>
<mat-grid-tile
  class="bg-white mat-elevation-z3 rounded-lg"
  [colspan]="4"
  [rowspan]="1"
>
  Card 4
</mat-grid-tile>
</mat-grid-list>
