
.bg-blue{
    background: #4B75A7;
  }
  .txt-blue{
    color: #4B75A7;
  }
  .txt-orange{
    color: #F24E1E;
  }
  h2{
    font-size: 2.25rem; 
    line-height: 2.5rem;
    font-weight: 400;
  }
  .white{
    color: white;
  }