<!--sideNav-->
<mat-drawer-container class="h-full" [hasBackdrop]="true">

    <mat-drawer class="w-80" #drawer>
        <!--CONTAINER-->
        <div class=" p-5 w-full h-full">

            <h3 class="text-black text-center">MENU</h3>

            <!--SINGLE ITEM-->
            <a routerLink="" class="mb-8 text-lg flex flex-wrap items-center cursor-pointer">
                <mat-icon class="mr-4">
                    <span class="text-black items-center">
                        dashboard
                        </span>
                </mat-icon>
                Panel de control
            </a>

            <!--SINGLE ITEM-->
            <a routerLink="dashboard/incident" class="mb-8 text-lg flex flex-wrap items-center cursor-pointer">
                <mat-icon class="mr-4">
                    <span class="text-black items-center">
                        bubble_chart
                        </span>
                </mat-icon>
                Incidentes
            </a>

            <!--SINGLE ITEM-->
            <a routerLink="dashboard/projects" class="mb-8 text-lg flex flex-wrap items-center cursor-pointer">
                <mat-icon class="mr-4">
                    <span class="text-black items-center">
                        ballot
                        </span>
                </mat-icon>
                Proyectos
            </a>
            <!--EXPANDABLE ITEM-->
            <details class="w-full">
                <summary class="mb-8 text-lg flex items-center cursor-pointer">
                    <a routerLink="dashboard/settings" class="flex">
                        <mat-icon class="mr-4">
                            <span class="text-black items-center">
                                settings
                            </span>
                        </mat-icon>
                        Configuraciones
                    </a>
                    <mat-icon class="mr-4">
                        <span class="text-black items-center">
                            keyboard_arrow_right
                        </span>
                    </mat-icon>
                </summary>
                <div>
                    <!--INSIDE SINGLE ITEM-->
                    <a routerLink="dashboard/settings/status" class="ml-6 mb-4 text-lg flex flex-wrap items-center cursor-pointer">
                        <mat-icon class="mr-4">
                            <span class="text-black items-center">
                                offline_pin
                                </span>
                        </mat-icon>
                        Estatus del reporte
                    </a>
                    <!--INSIDE SINGLE ITEM-->
                    <a routerLink="dashboard/setting/type" class="ml-6 mb-4 text-lg flex flex-wrap items-center cursor-pointer">
                        <mat-icon class="mr-4">
                            <span class="text-black items-center">
                                list
                                </span>
                        </mat-icon>
                        Tipos de reporte
                    </a>
                    <!--INSIDE EXPANDABLE ITEM-->
                    <details class="w-full">
                        <summary class="ml-6 mb-8 text-lg flex flex-wrap items-center cursor-pointer">
                            <mat-icon class="mr-4">
                                <span class="text-black items-center">
                                    lock
                                </span>
                            </mat-icon>
                            Accesos
                            <mat-icon class="mr-4">
                                <span class="text-black items-center">
                            keyboard_arrow_right
                        </span>
                            </mat-icon>
                        </summary>
                        <div>
                            <!-- -INSIDE SINGLE ITEM -->
                            <a routerLink="dashboard/setting/access/action" class="ml-11 mb-4 text-lg flex flex-wrap items-center cursor-pointer">
                                <mat-icon class="mr-4">
                                    <span class="text-black items-center">
                                        mouse
                                    </span>
                                </mat-icon>
                                Acciones
                            </a>
                            <!-- -INSIDE SINGLE ITEM -->
                            <a routerLink="dashboard/setting/access/routes" class="ml-11 mb-4 text-lg flex flex-wrap items-center cursor-pointer">
                                <mat-icon class="mr-4">
                                    <span class="text-black items-center">
                                    open_with
                                    </span>
                                </mat-icon>
                                Rutas
                            </a>
                            <!-- -INSIDE SINGLE ITEM -->
                            <a routerLink="dashboard/setting/access/roles" class="ml-11 mb-4 text-lg flex flex-wrap items-center cursor-pointer">
                                <mat-icon class="mr-4">
                                    <span class="text-black items-center">
                                        verified_user
                                    </span>
                                </mat-icon>
                                Roles
                            </a>
                            <!-- -INSIDE SINGLE ITEM -->
                            <a routerLink="dashboard/setting/access/users" class="ml-11 mb-4 text-lg flex flex-wrap items-center cursor-pointer">
                                <mat-icon class="mr-4">
                                    <span class="text-black items-center">
                                        supervisor_account
                                    </span>
                                </mat-icon>
                                Usuarios
                            </a>
                        </div>
                    </details>
                </div>
            </details>
        </div>
        <!--CONTAINER FINISH-->
    </mat-drawer>
    <!--ITEM FINISH-->

    <mat-drawer-content>
        <!--header-->
        <mat-toolbar class=" shadow-md flex justify-between">
            <button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon class="items-center align-middle">
                    <span class="text-black text-4xl items-center" (click)="drawer.toggle()">
                        menu
                        </span>
                </mat-icon>
            </button>
            <div class="flex flex-row">

                <h1>
                    Nombre de usuario
                </h1>
                <mat-icon class="text-2xl">keyboard_arrow_down</mat-icon>
            </div>

        </mat-toolbar>
        <!--header close-->
        <!--OUTLET-->
        <router-outlet></router-outlet>
        <!--OUTLET close-->
    </mat-drawer-content>
</mat-drawer-container>
<!--sideNav close-->